.about {
  --main-title-section-color: var(--white-color);
  --main-title-lg-color: var(--white-color);
  --main-text-md-color: var(--white-color);
  --about-background-color: rgba(0, 0, 0, .3);

  border-image: fill 0 linear-gradient(180deg, var(--about-background-color), var(--about-background-color));
  background-image: url("../img/bg-about.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 48px 0;

  @include media-min ($lg) {
    padding: 64px 0;
  }

  @include media-min ($xxl) {
    padding: 128px 0;
  }

  &__cont {
    min-height: 472px;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__btn-play {
    position: relative;
    width: 150px;
    height: 130px;
    justify-content: flex-start;
    padding-left: 20px;

    @include media-min ($lg) {
      padding-left: 12px;
      width: 130px;
      height: 115px;
    }

    @include media-min ($xxl) {
      padding-left: 20px;
      width: 160px;
      height: 140px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='161' height='140' viewBox='0 0 161 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_224_963)'%3E%3Cpath d='M155.68 61.4794C162.107 64.165 162.107 75.835 155.68 78.5206L9.64156 139.553C5.13053 141.438 0.5 137.122 0.5 131.033L0.500004 8.96745C0.500004 2.87758 5.13052 -1.43842 9.64155 0.446825L155.68 61.4794Z' fill='white' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_224_963' x='-9.5' y='-10' width='180' height='160' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='5' /%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_224_963' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_224_963' result='shape' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: var(--play-icon-opacity, .2);
      transition: opacity var(--transition-speed-slow) ease-in-out;
    }

    & > span {
      position: relative;
      z-index: 1;
      max-width: 93px;
      text-align: start;
      color: var(--play-text-color, var(--white-color));
      transition: color var(--transition-speed-slow) ease-in-out;
    }


    @media (hover: hover) {
      &:hover {
        --play-icon-opacity: 1;
        --play-text-color: var(--gray-50-color);
      }
    }
  }

  &__btn {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 150px;
    height: 130px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;

    @include media-min ($md) {
      top: 52%;
    }

    @include media-min ($lg) {
      top: 50%;
      padding-left: 12px;
      width: 130px;
      height: 115px;
    }

    @include media-min ($xxl) {
      padding-left: 20px;
      width: 160px;
      height: 140px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='161' height='140' viewBox='0 0 161 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_224_963)'%3E%3Cpath d='M155.68 61.4794C162.107 64.165 162.107 75.835 155.68 78.5206L9.64156 139.553C5.13053 141.438 0.5 137.122 0.5 131.033L0.500004 8.96745C0.500004 2.87758 5.13052 -1.43842 9.64155 0.446825L155.68 61.4794Z' fill='white' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_224_963' x='-9.5' y='-10' width='180' height='160' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='5' /%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_224_963' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_224_963' result='shape' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: var(--play-icon-opacity, .2);
      transition: opacity var(--transition-speed-slow) ease-in-out;
    }

    & > span {
      position: relative;
      z-index: 1;
      display: inline-flex;
      max-width: 93px;
      text-align: start;
      color: var(--play-text-color, var(--white-color));
      line-height: 1.4;
      transition: color var(--transition-speed-slow) ease-in-out;
    }


    @media (hover: hover) {
      &:hover {
        --play-icon-opacity: 1;
        --play-text-color: var(--gray-50-color);
      }
    }
  }
}

.about-benefits {
  --main-title-xl-color: var(--white-color);
  --main-text-sm-color: var(--white-color);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 30px;

  @include media-min ($lg) {
    gap: 64px 32px;
  }

  &__title {
    color: var(--white-color);
    border-bottom: 1px solid var(--gray-30-color);
    margin-bottom: 4px;
    padding-bottom: 4px;
  }

}
