.categories-item {
  & a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    color: var(--category-link-color, var(--gray-30-color));
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1;
    border-top: 1px solid var(--category-border-color, var(--gray-30-color));
    pointer-events: none;
    transition: color var(--transition-speed-medium) ease-in-out,
      border-color var(--transition-speed-medium) ease-in-out;


    @include media-min ($xl) {
      padding: 32px 0;
    }

    @include media-min ($xxl) {
      padding: 48px 0;
      font-size: 32px;
    }

    @media (hover: hover) {
      &:hover {
        --category-link-color: var(--blue-color);
        --category-icon-color: var(--blue-color);
        --category-icon-scale: 1.5;
        --category-border-color: var(--blue-color);
        --category-text-translate-x: 40px;
      }
    }

    @media (hover: none) {
      --category-link-color: var(--blue-color);
    }
  }

  & span {
    transform: translateX(var(--category-text-translate-x, 0));
    transform-origin: left;
    transition: transform var(--transition-speed-slow) ease-in-out;
  }

  & svg {
    transition: color var(--transition-speed-medium) ease-in-out,
      transform var(--transition-speed-medium) ease-in-out;
    color: var(--category-icon-color, var(--gray-30-color));
    margin-left: 64px;
    transform: scale(var(--category-icon-scale, 1));
    transform-origin: right;
    flex-shrink: 0;

    @include media-min ($xxl) {
      margin-left: 128px;
    }
  }
}