.contacts {
  padding: 48px 0;

  @include media-min ($lg) {
    padding: 64px 0 96px;
  }

  @include media-min ($xxl) {
    padding: 96px 0;
  }

  &__top {
    margin-bottom: 32px;
  }

  &__map {
    border-radius: 24px;
    overflow: hidden;
    max-height: 350px;

    @include media-min ($lg) {
      max-height: 410px;
    }

    @include media-min ($xxl) {
      max-height: 500px;
    }
  }

  &__scroll-block {
    overflow-y: auto;
    direction: rtl;
    overscroll-behavior: none;

    @include scrollbar(var(--gray-30-color), var(--blue-color), 2px, 4px);
  }

  &__list {
    position: relative;
    display: grid;
    row-gap: 24px;
    direction: ltr;

    @include media-min ($lg) {
      padding-left: 16px;
      row-gap: 32px;
      max-height: 500px;
    }

    @include media-min ($xxl) {
      max-height: 600px;
    }
  }
}