.header-contacts {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  border-bottom: 1px solid var(--gray-15-color);
  background-color: var(--white-color);

  @include media-min ($md) {
    padding: 4px 32px;
  }

  &__list {
    display: grid;
    gap: 10px;

    @include media-min ($md) {
      display: flex;
    }
  }

  &__item {
    text-decoration: underline;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 12px;
    transition: border-color .2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        border-color: var(--blue-color);
      }
    }
  }
}
