.benefits-list {
  display: grid;
  row-gap: 32px;
  border-top: 1px solid var(--gray-30-color);
  padding: 16px 0;

  @include media-min ($lg) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }


  &__item {
    position: relative;
    padding-right: 64px;

    &:nth-child(3n),
    &:nth-child(3n-1) {
      &::before {
        content: '';
        position: absolute;
        top: -16px;
        left: 0;
        height: 1px;
        width: 100%;
        border-top: 1px solid var(--gray-15-color);

        @include media-min ($lg) {
          top: 0;
          left: -15px;
          height: 100%;
          width: 1px;
          border-top: none;
          border-left: 1px solid var(--gray-30-color);
        }
      }
    }
  }

  &__item-avatar {
    width: 60px;
    height: 60px;
    border: radius 100%;
    overflow: hidden;
    margin-bottom: 16px;

    @include media-min ($lg) {
      width: 80px;
      height: 80px;
      margin-bottom: 32px;
    }

    @include media-min ($xxl) {
      margin-bottom: 64px;
    }
  }
}
