.hero-slider {
  padding-top: 30px;


  @include media-min ($lg) {
    padding-top: 0;
  }


  &__slide {
    --background-light: rgba(255, 255, 255, 0.5);
    --background-dark: #ffffff;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    border-image: fill 0 linear-gradient(180deg, var(--background-light), var(--background-dark));
  }

  &__inner {
    padding-top: 74px;
    align-items: center;
    display: grid;
    row-gap: 30px;

    @include media-min ($lg) {
      padding: 230px 0 120px;
      grid-template-columns: .3fr .7fr;
      column-gap: 125px;
    }

    @include media-min ($xxl) {
      padding: 240px 0 130px;
    }
  }

  &__img {
    text-align: center;
    padding: 0 48px;

    @include media-min ($lg) {
      padding: 0;
    }
  }

  &__title {
    color: var(--blue-color);
    margin-bottom: 48px;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
  }
}
