.footer {
  --main-text-color: var(--gray-30-color);

  background-color: var(--blue-color);
  padding: 32px 0;

  &__cont {
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: flex-start;
    column-gap: 40px;
    row-gap: 32px;

    @include media-min ($md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-min ($xl) {
      display: flex;
      justify-content: space-between;
    }
  }



  &__development {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    & a {
      margin-left: 10px;
      display: inline-flex;
    }
  }
}