<div class="card-item card-certificat pb-3">
  <div class="card-item__cont">
    <div class="card-item__img card-certificat__img mb-2">
      <a href="img/@img">
        <img src="img/@img"
             alt="@if(context.title) {@title}"
             width="239"
             height="239">
      </a>
      <div class="card-certificat__img-zoom">
        <svg width="33"
             height="32"
             aria-hidden="true">
          <use xlink:href="img/sprite.svg#loupe"></use>
        </svg>
      </div>
    </div>
    <div class="card-item__descr">
      <h3 class="title-sm">@if(context.title) {@title}</h3>
    </div>
  </div>
</div>
