<div class="card-item card-product">
  <div class="card-item__cont">
    <div class="card-item__img card-product__img mb-2">
      <img src="img/@product-img"
           alt="@if(context.title) {@title}"
           width="239"
           height="239">
      <div class="card-product__producer">
        <img src="img/@producer-img">
      </div>
    </div>
    <div class="card-item__descr">
      <h3 class="title-sm mb-2">@if(context.title) {@title}</h3>
      <p class="text-sm card-item__text">
        @if(context.text) {@text}
      </p>
    </div>
  </div>

  <a class="btn btn-primary card-item__btn"
     href="#"
     data-hystmodal="#@if(context.modal) {@modal}">подробнее</a>
</div>