.company-descr {
  --main-title-xl-color: var(--gray-30-color);
  --main-text-lg-color: var(--gray-30-color);

  padding: 64px 0;

  &--pt {
    padding: 48px 0;

    @include media-min ($xl) {
      padding: 128px 0 64px;
    }
  }

  &__section {
    padding: 48px 0;
    justify-content: space-between;

    @include media-min ($xl) {
      padding: 64px 0;
    }
  }

  &__img {
    display: inline-flex;
    border-radius: 14px;
    overflow: hidden;
    margin-right: 90px;

    @include media-min ($lg) {
      margin-right: 0;
    }
  }

  &__subtitle {
    margin-bottom: 32px;

    @include media-min ($lg) {
      margin-bottom: 0;
    }
  }

  &__descr {
    max-width: 780px;
  }
}