.company-descr {
  --main-title-xl-color: var(--gray-30-color);
  --main-text-lg-color: var(--gray-30-color);

  padding: 64px 0;

  &--pt {
    padding: 48px 0;

    @include media-min ($xl) {
      padding: 128px 0 64px;
    }
  }

  &__section {
    padding: 48px 0;

    @include media-min ($xl) {
      padding: 64px 0;
    }
  }

  &__img {
    display: inline-flex;
    border-radius: 14px;
    overflow: hidden;
    margin-right: 90px;

    @include media-min ($lg) {
      margin-right: 0;
    }
  }

  &__subtitle {
    margin-bottom: 32px;

    @include media-min ($lg) {
      margin-bottom: 0;
    }
  }

  &__descr {
    max-width: 780px;
  }

  &__items {
    display: grid;
    gap: 32px;

    @include media-min ($lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-min ($xxl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    border: 1px solid var(--gray-15-color);
    border-radius: 24px;
    padding: 8px 8px 16px;
  }

  &__item-img {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 75%;
    border-radius: 14px;
    margin-bottom: 16px;

    @include media-min ($lg) {
      padding-bottom: 46%;
    }

    @include media-min ($xxl) {
      padding-bottom: 100%;
    }
  }

  &__item-meta {
    padding: 0 12px;
  }

  &__item-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  &__item-text {
    font-size: 18px;
  }
}