.modal {
  position: relative;
  margin: 0 auto;
  width: 100%;
  color: #000000;
  min-width: 360px;
  max-width: 800px;
  padding: 96px 15px;
  border-image: fill 0 linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, #ffffff 100%);
  background-image: url("../img/bg-feedback-modal.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include media-min ($lg) {
    padding: 64px 128px;
  }

  @include media-max(calc(var(--min-site-width) - 1px)) {
    min-width: auto;
  }

  &--video {
    background-image: none;
    border-image: none;
    padding: 0 15px;
    max-width: 1440px;

    & .modal__close {
      top: 10px;
      right: 25px;
      z-index: 1;
    }
  }

  &--product {
    background-image: none;
    border-image: none;
    max-width: 1440px;
    background-color: var(--white-color);
    padding: 48px 15px;

    @include media-min ($lg) {
      padding: 96px 165px 168px;
    }
  }

  &__close {
    @include btn-reset;

    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #7f7f7f;
    backdrop-filter: blur(10px);
    background-color: var(--close-background-color, rgba(235, 235, 235, 0.8));
    border-radius: 14px;
    transition: background-color var(--transition-speed-medium) ease-in-out;
    z-index: 1;

    @media (hover: hover) {
      &:hover {
        --close-background-color: var(--blue-color);
        --close-icon-scale: 1.3;
      }
    }

    @media (hover: none) {
      &:active {
        --close-background-color: var(--blue-color);
        --close-icon-scale: 1.3;
      }
    }
  }

  &__close-icon {
    transform: scale(var(--close-icon-scale, 1));
    transition: transform var(--transition-speed-medium) ease-in-out;
  }

  &__top {
    margin-bottom: 32px;

    @include media-min ($lg) {
      margin-bottom: 64px;
    }
  }

}

#video-modal {
  background-color: var(--black-color);
}



.product-modal {
  @include media-min ($lg) {
    display: flex;
  }

  &__top {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    flex-shrink: 0;

    @include media-min ($lg) {
      margin-bottom: 0;
      margin-right: 124px;
    }

    & .product__img {
      padding-bottom: 0;
      max-height: 350px;
      max-width: 350px;
      height: auto;
      display: flex;
      justify-content: center;
      border: 1px solid var(--gray-15-color);

      & > img {
        position: static;
      }

      & > .product__producer {
        right: auto;
        left: 4px;
      }
    }
  }

  &__bottom {
    display: grid;
    justify-items: center;

    @include media-min ($lg) {
      justify-items: flex-start;
    }
  }

  &__info {
    max-width: 350px;
    display: grid;
    row-gap: 48px;

    @include media-min ($lg) {
      row-gap: 64px;
    }
  }

  &__title {
    margin-bottom: 24px;
    max-width: 350px;

    @include media-min ($lg) {
      max-width: 100%;
    }
  }

  &__list {
    display: grid;
    row-gap: 8px;

    & dt,
    dd {
      font-weight: 400;
      font-size: 16px;
    }

    & dt {
      text-align: start;
      color: var(--gray-30-color);
    }

    & dd {
      text-align: end;
    }
  }

  &__list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    border-top: 1px solid var(--gray-15-color);
    color: var(--gray-50-color);

    &:last-child {
      border: none;
    }
  }

}
