.modal {
  position: relative;
  margin: 0 auto;
  width: 100%;
  color: #000000;

  min-width: 360px;
  max-width: 800px;
  padding: 96px 15px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, #fff 100%),
    url("../img/bg-feedback-modal.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include media-min ($lg) {
    padding: 64px 128px;

  }

  @include media-max(calc(var(--min-site-width) - 1px)) {
    min-width: auto;
  }

  &--video {
    padding: 0 15px;
    background: none;
    max-width: 1440px;

    & .modal__close {
      top: 10px;
      right: 25px;
      z-index: 1;
    }
  }

  &__close {
    @include btn-reset;

    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #7f7f7f;
    backdrop-filter: blur(10px);
    background-color: rgba(235, 235, 235, 0.8);
    border-radius: 14px;
  }

  &__top {
    margin-bottom: 32px;

    @include media-min ($lg) {
      margin-bottom: 64px;
    }
  }

}

#video-modal {
  background-color: var(--black-color);
}
