.contact-list {

  &--lg {
    & a {
      font-weight: 500;
      font-size: 18px;

      @include media-min ($xxl) {
        font-size: 24px;
      }

      &[href^="mailto:"] {
        text-decoration: underline;
      }
    }
  }
}