.site {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100 * var(--vh, 1vh));
  }

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    flex-shrink: 0;
  }
}

.site-video {
  position: relative;
}

.site-breadcrumb {
  font-size: 16px;
  color: var(--gray-30-color);

  @include media-min ($xl) {
    font-size: 18px;
  }

  & > div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
  }

  & a {
    font-size: inherit;
    transition: color var(--transition-speed-medium) ease-in-out,
      border-color var(--transition-speed-medium) ease-in-out;

    @media (hover: hover) {
      &:hover {
        --breadcrumbs-color: var(--blue-color);
      }
    }

    @media (hover: none) {
      &:active {
        color: var(--blue-color);
      }
    }
  }

  & a,
  & span {
    color: var(--breadcrumbs-color, var(--gray-30-color));
    display: inline-block;
    border: 1px solid var(--breadcrumbs-color, var(--gray-30-color));
    border-radius: 8px;
    padding: 0 8px;
  }
}