body {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  font-family: $main-font, Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

strong,
b {
  font-weight: 500;
}

a {
  --link-linel: var(--blue-color);

  color: var(--link-color, var(--blue-color));
  text-decoration-color: var(--link-line, transparent);
  transition: color var(--transition-speed-medium) ease-in-out;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

.title {
  @include indent-reset;

  font-weight: 500;
  line-height: 1.1;
  color: var(--main-title-color, var(--blue-color));
}

.title-xl {
  @include indent-reset;

  font-weight: 500;
  font-size: 32px;
  line-height: 1.1;
  color: var(--main-title-xl-color, var(--blue-color));

  @include media-min ($xl) {
    font-size: 48px;
  }

  @include media-min ($xxl) {
    font-size: 64px;
  }
}

.title-lg {
  @include indent-reset;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  color: var(--main-title-lg-color, var(--blue-color));

  @include media-min ($xxl) {
    font-size: 32px;
  }

  &--size {
    @include media-min ($xl) {
      font-size: 32px;
    }
  }
}

.title-md {
  @include indent-reset;

  font-weight: 500;
  font-size: 18px;
  color: var(--main-title-md-color, var(--blue-color));

  @include media-min ($xxl) {
    font-size: 24px;
  }
}

.title-sm {
  @include indent-reset;

  font-size: 16px;
  color: var(--main-title-sm-color, var(--blue-color));
}

.title-section {
  @include indent-reset;

  font-size: 16px;
  color: var(--main-title-section-color, var(--gray-30-color));
  text-transform: uppercase;
}

.text {
  @include indent-reset;

  font-size: 16px;
  color: var(--main-text-color, var(--gray-50-color));

  @include media-min ($xxl) {
    font-size: 18px;
  }

}

.text-sm {
  @include indent-reset;

  font-size: 16px;
  color: var(--main-text-sm-color, var(--gray-50-color));

  &--light {
    color: var(--main-text-sm-light-color, var(--gray-30-color));
  }
}

.text-md {
  @include indent-reset;

  font-size: 16px;
  color: var(--main-text-md-color, var(--gray-50-color));

  @include media-min ($xxl) {
    font-size: 18px;
  }

  &--dark {
    color: var(--main-text-sm-dark-color, var(--black-color));
  }
}

.text-lg {
  @include indent-reset;

  font-size: 16px;
  color: var(--main-text-lg-color, var(--gray-50-color));

  @include media-min ($xl) {
    font-size: 24px;
  }

  &--bold {
    font-weight: 500;
  }
}
