.one-screen {


  &__top {
    border-top: 1px solid var(--gray-30-color);
    padding-top: 24px;
    display: grid;
    row-gap: 16px;
    margin-bottom: 54px;

    @include media-min ($lg) {
      display: flex;
      justify-content: space-between;
      padding-top: 12px;
      margin-bottom: 24px;
    }

    @include media-min ($xxl) {
      display: flex;
      justify-content: space-between;
      padding-top: 16px;
      margin-bottom: 48px;
    }
  }

  &__title,
  &__adress {

    @include media-min ($lg) {
      max-width: 350px;
    }

    @include media-min ($xxl) {
      max-width: 510px;
    }
  }

  &__title {
    color: var(--blue-color);
  }

  &__adress {
    text-align: end;
  }

  &__products {
    display: grid;
    row-gap: 15px;

    @include media-min ($lg) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;

      & > li + li {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -15px;
          width: 1px;
          height: 100%;
          background-color: var(--gray-30-color);
        }
      }
    }
  }
}
